#transring{
    height: 50vh;
    width: 50vw;
    position: fixed;
    top: 13rem;
    left: 43rem;
}

.svg-text{
    cursor: pointer;
    color: var(--text-color);
    font-weight:100;
    font-family: var(--body-font);
}
.svg-text:hover{
    font-size: 1.2rem;
    transition: .3s ease-in-out ;
}   
#svgline{
    height: 70vh;
    width: 20vw;
    position: fixed;
    top: 13rem;
    right: -3rem;
}
@media screen and (max-width: 1269px) {
    #transring{
        left: 38rem;
        top: 10rem;
    }
}

@media screen and (max-width: 1151px) {
    #transring{
        left: 36rem;
        top: 10rem;
    }
}
@media screen and (max-width: 1269px) {
    #svgline{
        left: 0rem;
        top: 15rem;
    }
}

@media screen and (max-width: 1145px) {
    #svgline{
        display: none;
    }
}
@media screen and (max-width: 1025px) {
    #svg-container{
        display: none;
    }
}



