.cursor-canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

@media (max-width: 768px) {
    .cursor-canvas {
        display: none;
    }
}